extends ../layouts/library

block content
	section.section-content
		div.container-fluid
			div.row
				div.col-lg-3
					div(data-spy="affix", data-offset-top="20").panel.panel-default
						div.panel-heading
							h3.panel-title 目录
						div.panel-body
							|大大声地撒大声地
				div.col-lg-9
					div.panel.panel-default
						div.panel-heading
							h3.panel-title 内容
						div.panel-body
							|大大声地撒大声地