extends ../layouts/library

block content
	section.section-content
		div.container-fluid
			div.row
				div.col-lg-3 
					div.media
						a(href="#").pull-left
							img(src="/images/avator/faith.jpg", alt="").avator-img
						div.media-body
							h4.media-heading 
								= user.name
							blockquote.blockquote-reverse
								p 书籍是人类进步的阶梯
									
								footer 高尔基 
									
							hr
							dl.dl-horizontal
								dt 读书量
								dd 06
								dt 书友数
								dd 03
								dt 推荐数
								dd 53
								dt 评论数
								dd 21
							hr

				div.col-lg-9
					
					div.row
						div.col-sm-3
							div.thumbnail
								img(src="/images/books/01.jpg", alt="").book-img
								div.caption
									h3 高性能JavaScript
									p Nicholas C.Zakas 
									p 电子工业出版社
									p
										a.btn.btn-primary 喜欢
										a.btn.btn-default 读者
										|2010-11
						div.col-sm-3
							div.thumbnail
								img(src="/images/books/02.jpg", alt="").book-img
								div.caption
									h3
										nobr 深入理解Java虚拟机
									p 周志明 
									p 机械工业出版社
									p
										a.btn.btn-primary 喜欢
										a.btn.btn-default 读者
										|2011-6
						div.col-sm-3
							div.thumbnail
								img(src="/images/books/03.jpg", alt="").book-img
								div.caption
									h3
										nobr REST实战
									p 
										nobr Jim Webber,Savas Parastatidis,Ian Robinson 
									p 东南大学出版社
									p
										a.btn.btn-primary 喜欢
										a.btn.btn-default 读者
										|2011-10
						div.col-sm-3
							div.thumbnail
								img(src="/images/books/04.jpg", alt="").book-img
								div.caption
									h3
										nobr 编写高质量代码
									p 曹刘阳 
									p 机械工业出版社
									p
										a.btn.btn-primary 喜欢
										a.btn.btn-default 读者
										|2010-7
					div.row
						div.col-sm-3
							div.thumbnail
								img(src="/images/books/05.jpg", alt="").book-img
								div.caption
									h3 
										nobr Java虚拟机规范(Java SE 7版)
									p 
										nobr Tim Lindholm,Frank Yellin,Gilad Bracha,Alex Buckley   
									p 机械工业出版社
									p
										a.btn.btn-primary 喜欢
										a.btn.btn-default 读者
										|2014-1
						div.col-sm-3
							div.thumbnail
								img(src="/images/books/06.jpg", alt="").book-img
								div.caption
									h3 
										nobr Node.js高级编程
									p 
										nobr Pedro Teixeira   
									p 清华大学出版社
									p
										a.btn.btn-primary 喜欢
										a.btn.btn-default 读者
										|2013-12
						div.col-sm-3
							div.thumbnail
								img(src="/images/books/07.jpg", alt="").book-img
								div.caption
									h3 
										nobr 深入理解HTML5：语义、标准与样式
									p
										nobr 布拉德福(Anselm Bradford),海涅(Paul Haine)   
									p 电子工业出版社
									p
										a.btn.btn-primary 喜欢
										a.btn.btn-default 读者
										|2013-6
						div.col-sm-3
							div.thumbnail
								img(src="/images/books/08.jpg", alt="").book-img
								div.caption
									h3
										nobr JavaScript高级程序设计(第3版)
									p
										nobr Nicholas C.Zakas
									p 人民邮电出版社
									p
										a.btn.btn-primary 喜欢
										a.btn.btn-default 读者
										|2012-3
