<!-- Modal -->
<div class="modal fade" id="operationAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">操作添加</h4>
      </div>
      <div class="modal-body">
        <form role="form">
		  <div class="form-group">
		    <label for="title">名称</label>
		    <input type="text" class="form-control" id="title" name="title" placeholder="名称">
		  </div>
		  <div class="form-group">
		    <label for="name">操作定义</label>
		    <input type="text" class="form-control" id="name" name="name" placeholder="操作定义">
		  </div>
		  <div class="form-group">
		  	<div class="radio-inline">
			  <label>
			    <input type="radio" name="enable" id="enable" value="true" checked>
			    可用
			  </label>
			</div>
			<div class="radio-inline">
			  <label>
			    <input type="radio" name="enable" id="enable" value="false">
			    不可用
			  </label>
			</div>
		  </div>
		  <button type="button" class="btn btn-default" id="operationSubmit">提交</button>
		</form>
      </div>
    </div>
  </div>
</div>