#################
## eclipse
#################
.classpath
.project
.settings/
target/


#################
## idea
#################
*.iml
.idea/
*.ipr
*.iws

#################
## gradle
#################
.gradle/
build/
gradle-app.setting
gradle/extract/

#################
## github
#################
