#################
## eclipse
#################
.classpath
.project
.settings/
target/
bower_components/

#################
## idea
#################
*.iml
.idea/

assets
#################
## github
#################
