extends ../layout

block content
	div(role="navigation").navbar.navbar-default.avbar-fixed-top
		div.container
			div.navbar-header
				button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
					span.sr-only 切换显示
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href="#").navbar-brand Avalon
			div.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href="#") 主页
					li
						a(href="#") 关于
					li
						a(href="#") 联系
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") 注册
					li
						a(href="#") 登陆
	div.intro-header
		div.container
			div.row
				div.col-lg-12
