extends ../layout

block content
	div(role="navigation",data-spy="affix",data-offset-top="60",data-offset-bottom="200").navbar.navbar-default.navbar-fixed-top.navbar-ease
		div.container
			div.navbar-header
				button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
					span.sr-only 切换显示
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href="#").navbar-brand Avalon开放书城
			div.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") 注册
					li
						a(href="#") 登陆
	div.intro-header
		div.intro-message
			h1 Avalon开放书城
			h3 这里是书的世界
			hr.intro-divider
			ul.list-inline.intro-social-buttons
				li
					a.btn.btn-info.btn-lg
						i.fa.fa-twitter
						span.network-name Twitter
				li
					a.btn.btn-info.btn-lg
						i.fa.fa-github.fa-fw
						span.network-name Github
				li
					a.btn.btn-info.btn-lg
						i.fa.fa-linkedin.fa-fw
						span.network-name Linkedin
	section.section-a
		div.container
			div.row
				div.col-lg-5.col-sm-6
					hr.section-heading-spacer
					div.clearfix
					h2.section-heading 书说:
						br
						|我的世界原来可以这么强大
					p.lead 决绝单调的读书生涯，祛疑、求精、辩论.....，
						|我们是一群活泼的小精灵。
						a(target="_blank") 网络在线书堂
						|简单轻松实现在线交流。
				div.col-lg-5.col-lg-offset-2.col-sm-6
					img(src="images/ipad.png", alt="书堂图片").img-responsive
	section.section-colored.text-center
		div.container
			div.row
				div.col-lg-12
					h2 精美的页面: 简洁 & 易用的功能
					p 兼容了主流浏览器的使用效果，针对有的浏览器深度优化了显示效果。
					hr
	section.section-b
		div.container
			div.row
				div.col-lg-6.col-md-6.col-sm-6
					img(src="http://placehold.it/700x450").img-responsive
				div.col-lg-6.col-md-6.col-sm-6
					h2 目前提供的功能:
					ul
						li 精美的页面
						li 多终端支持
						li 跨平台支持
						li 支持API调用
	section.banner
		div.container
			div.row
				div.col-lg-12.text-center
					h2 进入书堂分享我的学习成果:
						a(href="#") 网络在线书堂

	footer
		div.container
			div.row
				div.col-lg-12
					ul.list-inline
						li
							a(href="#") Avalon开放书城
						li -
						li
							a(href="#") 关于我们
						li -
						li
							a(href="#") 帮助
					p.copyright.text-center Copyright &copy; fight team 2013-2014. All Rights Reserved



