<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Avalon博客</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/dark/bootstrap.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
       
    </head>
    <body>
      
     
        <!-- /Main page header -->
        
        <!-- Main page container -->
        <div class="container">
            
           
            
            <!-- Right (content) side -->
            <div class="content-block" role="main">
            
                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="#"><span class="icon-home"></span></a><span class="divider"></span></li>
                    <li><a href="#">Organon template</a><span class="divider"></span></li>
                    <li class="active">Form elements</li>
                </ul>
                <!-- /Breadcrumb -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                
                    <!-- Data block -->
                    <article class="span12 data-block nested">
                        <div class="data-container">
                            <header>
                                <h2>Form elements</h2>
                                <ul class="data-header-actions tabs">
                                    <li class="demoTabs active"><a href="#horizontal">Horizontal</a></li>
                                    <li class="demoTabs"><a href="#vertical">Vertical</a></li>
                                    <li class="demoTabs"><a href="#advanced">Advanced forms</a></li>
                                    <li><a href="#"><span class="icon-question-sign"></span></a></li>
                                </ul>
                            </header>
                            <section class="tab-content">
                            
                                <!-- Example horizontal forms -->
                                <!-- Tab #horizontal -->
                                <div class="tab-pane active" id="horizontal">
                                
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend>Horizontal form</legend>
                                            <div class="control-group">
                                                <label class="control-label" for="input">Text input</label>
                                                <div class="controls">
                                                    <input id="input" class="input-xxlarge" type="text">
                                                    <p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="optionsCheckbox">Checkbox</label>
                                                <div class="controls">
                                                    <label class="checkbox">
                                                        <input id="optionsCheckbox" type="checkbox" value="option1">
                                                        Curabitur vehicula porttitor suscipit
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="optionsRadios">Radio</label>
                                                <div class="controls">
                                                    <label class="radio">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                        Option one is this and that—be sure to include why it's great
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                        Option two can be something else and selecting it will deselect option one
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inlineCheckbox">Inline checkbox</label>
                                                <div class="controls">
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                                                    </label>
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                                                    </label>
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="select">Select list</label>
                                                <div class="controls">
                                                    <select id="select">
                                                        <option>Google</option>
                                                        <option>Apple</option>
                                                        <option>Samsung</option>
                                                        <option>Intel</option>
                                                        <option>Microsoft</option>
                                                        <option>Facebook</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="selectMultiple">Multiple select list</label>
                                                <div class="controls">
                                                    <select id="selectMultiple" multiple="multiple">
                                                        <option>Google</option>
                                                        <option>Apple</option>
                                                        <option>Samsung</option>
                                                        <option>Intel</option>
                                                        <option>Microsoft</option>
                                                        <option>Facebook</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="textarea">Textarea</label>
                                                <div class="controls">
                                                    <textarea id="textarea" class="input-xxlarge" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button class="btn btn-alt btn-large btn-primary" type="submit">Save changes</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                
                                </div>
                                <!-- Tab #horizontal -->
                                
                                <!-- Example vertical forms -->
                                <!-- Tab #vertical -->
                                <div class="tab-pane" id="vertical">
                                
                                    <form>
                                        <fieldset>
                                            <legend class="legend-inverse">Vertical form</legend>
                                            <div class="control-group">
                                                <label class="control-label" for="input">Text input</label>
                                                <div class="controls">
                                                    <input id="input" class="input-xxlarge" type="text">
                                                    <p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="optionsCheckbox">Checkbox</label>
                                                <div class="controls">
                                                    <label class="checkbox">
                                                        <input id="optionsCheckbox" type="checkbox" value="option1">
                                                        Curabitur vehicula porttitor suscipit
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="optionsRadios">Radio</label>
                                                <div class="controls">
                                                    <label class="radio">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                        Option one is this and that—be sure to include why it's great
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                        Option two can be something else and selecting it will deselect option one
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="inlineCheckbox">Inline checkbox</label>
                                                <div class="controls">
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                                                    </label>
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                                                    </label>
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="select">Select list</label>
                                                <div class="controls">
                                                    <select id="select">
                                                        <option>Google</option>
                                                        <option>Apple</option>
                                                        <option>Samsung</option>
                                                        <option>Intel</option>
                                                        <option>Microsoft</option>
                                                        <option>Facebook</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="selectMultiple">Multiple select list</label>
                                                <div class="controls">
                                                    <select id="selectMultiple" multiple="multiple">
                                                        <option>Google</option>
                                                        <option>Apple</option>
                                                        <option>Samsung</option>
                                                        <option>Intel</option>
                                                        <option>Microsoft</option>
                                                        <option>Facebook</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="textarea">Textarea</label>
                                                <div class="controls">
                                                    <textarea id="textarea" class="input-xxlarge" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button class="btn btn-alt btn-large btn-primary" type="submit">Save changes</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                
                                </div>
                                <!-- Tab #vertical -->
                                
                                <!-- Example advanced forms -->
                                <!-- Tab #advanced -->
                                <div class="tab-pane" id="advanced">
                                
                                    <!-- Grid row -->
                                    <div class="row-fluid">
                                        
                                        <!-- Example search forms -->
                                        <div class="span6">
                                            <h3>Search form</h3>
                                            <p>Add <code>.form-search</code> to the form and <code>.search-query</code> to the <code>input</code>.</p>
                                            <form class="form-search well">
                                                
                                                        <input class="search-query" type="text">
                                                        <button class="btn" type="submit">Search</button>
                    
                                            </form>
                                        </div>
                                        
                                        <!-- Example inline forms -->
                                        <div class="span6">
                                            <h3>Inline form</h3>
                                            <p>Add <code>.form-inline</code> for vertical alignment and spacing of form controls.</p>
                                            <form class="form-inline well">
                                            
                                                        <input class="input-small" type="text" placeholder="Email">
                                                        <input class="input-small" type="password" placeholder="Password">
                                                        <button class="btn" type="submit">Sign in</button>
                                    
                                            </form>
                                        </div>
                                        
                                    </div>
                                    <!-- /Grid row -->
                                    
                                    <!-- Grid row -->
                                    <div class="row-fluid">
                                    
                                        <!-- jQuery jWYSIWYG -->
                                        <div class="span12">
                                            <h2>jQuery jWYSIWYG <small>Classic WYSIWYG editor</small></h2>
                                            <p>This jquery plugin is an inline content editor to allow editing rich HTML content on the fly. With a small file size less than 26Kb total and only 18Kb of code, the main concept is to keep it simple, not all users need font coloring or create tables, just the basic.</p>
                                            <form>
                                                <fieldset>
                                                    <legend>Textarea with jWYSIWYG editor</legend>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <textarea id="textarea3" class="wysiwyg" rows="8"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <button class="btn btn-primary btn-large" type="submit">Save</button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        
                                    </div>
                                    <!-- /Grid row -->
                                    
                                    <!-- Grid row -->
                                    <div class="row-fluid">
                                    
                                        <!-- Wysihtml5 -->
                                        <div class="span12">
                                            <h2>Wysihtml5 <small>Simple wysiwyg editors</small></h2>
                                            <p>Bootstrap-wysihtml5 is a javascript plugin that makes it easy to create simple, beautiful wysiwyg editors with the help of <a href="https://github.com/xing/wysihtml5" target="_blank">wysihtml5</a>.</p>
                                            <form>
                                                <fieldset>
                                                    <legend>Textarea with wysihtml5 editor</legend>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <textarea id="textarea4" class="wysihtml5" placeholder="Enter text&hellip;" rows="8"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <button class="btn btn-alt btn-primary btn-large" type="submit">Save</button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        
                                    </div>
                                    <!-- /Grid row -->
                                    
                                    <!-- Grid row -->
                                    <div class="row-fluid">
                                    
                                        <!-- Colorpicker -->
                                        <div class="span4">
                                            <h2>Color picker</h2>
                                            <p>Simple color picker for Bootstrap framework. Check out the <a href="http://www.eyecon.ro/bootstrap-colorpicker/" target="_blank">official page</a> for more options.</p>
                                            <form>
                                                <fieldset>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <div class="input-append" data-color="rgb(255, 146, 180)" data-color-format="rgb">
                                                                <input type="text" class="colorpicker input-small" value=""><span class="add-on"><i class="colorpicker-preview" style="background-color: rgb(255, 146, 180)"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        
                                        <!-- Datepicker -->
                                        <div class="span4">
                                            <h2>Date picker</h2>
                                            <p>Simple date picker by the same author. Check out the <a href="http://www.eyecon.ro/bootstrap-datepicker/" target="_blank">official page</a> for more options and details.</p>
                                            <form>
                                                <fieldset>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <div class="input-append">
                                                                <input class="datepicker input-small" value="08/06/2012" type="text"><span class="add-on"><i class="icon-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        
                                        <!-- jQuery TagsInput -->
                                        <div class="span4">
                                            <h2>jQuery TagsInput</h2>
                                            <p>This plugin will turn your boring tag list into a magical input that turns each tag into a style-able object with its own delete link.</p>
                                            <form>
                                                <fieldset>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input id="inputTag" class="tagsinput" type="text" value="foo,bar">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        
                                    </div>
                                    <!-- /Grid row -->
                                    
                                
                                </div>
                                <!-- Tab #advanced -->
                                
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                
                    <!-- Data block -->
                    <article class="span6 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Special form styling</h2>
                            </header>
                            <section>
                                
                                <form class="form-inline">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="inputMask">Input mask</label>
                                            <div class="controls">
                                                <input type="text" data-mask="999-99-999-9999-9">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Uneditable input</label>
                                            <div class="form-controls">
                                                <span class="uneditable-input">Uneditable input is text masked as input</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="disabledInput">Disabled input</label>
                                            <div class="form-controls">
                                                <input id="disabledInput" class="disabled" type="text" placeholder="Disabled input" disabled>
                                            </div>
                                        </div>
                                        <div class="control-group warning">
                                            <label class="control-label" for="inputWarning">Input with warning</label>
                                            <div class="form-controls">
                                                <input id="inputWarning" type="text">
                                                
                                                <span class="help-block">This is warning message</span>
                                            </div>
                                            <div class="form-controls">
                                                 <div class="input-prepend">
                                                    <span class="add-on">password</span><input id="prependedInput" type="password">
                                                </div>
                                                <span class="help-block">This is warning message</span>
                                            </div>
                                        </div>
                                        <div class="control-group error">
                                            <label class="control-label" for="inputError">Input with error</label>
                                            <div class="form-controls">
                                                <input id="inputError" type="text">
                                                <span class="help-block">This is error message</span>
                                            </div>
                                            <div class="form-controls">
                                                 <div class="input-prepend">
                                                    <span class="add-on">password</span><input id="prependedInput" type="password">
                                                </div>
                                                <span class="help-block">This is warning message</span>
                                            </div>
                                        </div>
                                        <div class="control-group success">
                                            <label class="control-label" for="inputSuccess">Input with success</label>
                                            <div class="form-controls">
                                                <input id="inputSuccess" type="text">
                                                <span class="help-block">This is success message</span>
                                            </div>
                                            <div class="form-controls">
                                                 <div class="input-prepend">
                                                    <span class="add-on">password</span><input id="prependedInput" type="password">
                                                </div>
                                                <span class="help-block">This is warning message</span>
                                            </div>
                                        </div>
                                         <div class="control-group info">
                                            <label class="control-label" for="inputInfo">Input with info</label>
                                            <div class="form-controls">
                                                <input id="inputInfo" type="text">
                                                <span class="help-block">This is info message</span>
                                            </div>
                                            <div class="form-controls">
                                                 <div class="input-prepend">
                                                    <span class="add-on">password</span><input id="prependedInput" type="password">
                                                </div>
                                                <span class="help-block">This is warning message</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                
                                
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Data block -->
                    <article class="span6 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Appended and prepended add-ons</h2>
                            </header>
                            <section>
                                
                                <form class="form-inline">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="prependedInput">Prepended add-on</label>
                                            <div class="form-controls">
                                                <div class="input-prepend">
                                                    <span class="add-on">password</span><input id="prependedInput" type="password">
                                                </div>
                                                <p class="help-block">This is block input note</p>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="appendedInput">Appended add-on</label>
                                            <div class="form-controls">
                                                <div class="input-append">
                                                    <input id="appendedInput" type="text"><span class="add-on">&euro;</span>
                                                </div>
                                                <span class="note-inline">This is inline input note</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="appendedPrependedInput">Appended and prepended add-ons</label>
                                            <div class="form-controls">
                                                <div class="input-prepend input-append">
                                                    <span class="add-on">192.</span><input id="appendedPrependedInput" type="text"><span class="add-on">.255</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="form-controls">
                                                <div class="input-prepend input-append">
                                                    <span class="add-on">IPv4:</span><input id="appendedPrependedInput" class="span3" type="text"><span class="add-on">.168.</span><input id="appendedPrependedInput" class="span3" type="text"><span class="add-on">.255</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="form-controls">
                                                <div class="input-append">
                                                    <input id="appendedPrependedInput" type="text"><button class="btn" type="button">Do it now!</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="form-controls">
                                                <div class="input-prepend input-append">
                                                    <span class="add-on">I want </span><input id="appendedPrependedInput" class="span3" type="text" placeholder="1 200"><button class="btn" type="button">&euro;</button><button class="btn" type="button">&pound;</button><button class="btn" type="button">$</button><span class="add-on">per month</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->

                <!-- Grid row -->
                <div class="row-fluid">
                
                    <!-- Data block -->
                    <article class="span12 data-block">
                        <div class="data-container">
                            <header>
                                <h2>File & Image input</h2>
                            </header>
                            <section>
                            
                                <!-- Bootstrap file upload plugin -->
                                <form>
                                    <fieldset>

                                        <div class="control-group">
                                            <label class="control-label" for="fileInput">File input</label>
                                            <div class="controls">
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <i class="icon-file fileupload-exists"></i>
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-alt btn-file">
                                                                <span class="fileupload-new">Select file</span>
                                                                <span class="fileupload-exists">Change</span>
                                                                <input type="file" />
                                                        </span>
                                                        <a href="#" class="btn btn-alt btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="fileInput">Image upload widgets</label>
                                            <p>When uploading an image, it's possible to show a thumbnail instead of the filename. Size of thumbnail can be adjusted by adding class <code>fileupload-large</code> or <code>fileupload-small</code>. Use class <code>raw</code> for thumbnail without borders.</p>

                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <h4>Fixed size thumbnail preview</h4>
                                                        <div class="fileupload-preview fileupload-large thumbnail"></div>
                                                        <div>
                                                            <span class="btn btn-alt btn-file">
                                                                <span class="fileupload-new">Select image</span>
                                                                <span class="fileupload-exists">Change</span>
                                                                <input type="file" />
                                                            </span>
                                                            <a href="#" class="btn btn-alt btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                        </div>
                                                    </div>

                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="fileupload-new fileupload-small thumbnail"><img src="img/sample_content/sample-image-50x50.png"></div>
                                                        <div class="fileupload-preview fileupload-exists fileupload-small thumbnail"></div>
                                                        <span class="btn btn-alt btn-file">
                                                            <span class="fileupload-new">Select image</span>
                                                            <span class="fileupload-exists">Change</span>
                                                            <input type="file">
                                                        </span>
                                                        <a href="#" class="btn btn-alt btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                    </div>
                                                </div>

                                                <div class="span6">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <h4>Flexible thumbnail preview</h4>
                                                        <div class="fileupload-new fileupload-large thumbnail"><img src="img/sample_content/sample-image-250x150.png"></div>
                                                        <div class="fileupload-preview fileupload-exists fileupload-large flexible thumbnail"></div>
                                                        <div>
                                                            <span class="btn btn-alt btn-file">
                                                                <span class="fileupload-new">Select image</span>
                                                                <span class="fileupload-exists">Change</span>
                                                                <input type="file">
                                                            </span>
                                                            <a class="btn btn-alt btn-danger fileupload-exists" data-dismiss="fileupload" href="#">Remove</a>
                                                        </div>
                                                    </div>

                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="fileupload-new fileupload-small thumbnail"><img src="img/sample_content/sample-image-50x50.png"></div>
                                                        <div class="fileupload-preview fileupload-exists fileupload-small flexible raw thumbnail"></div>
                                                        <span class="btn btn-alt btn-file">
                                                            <span class="fileupload-new">Select image</span>
                                                            <span class="fileupload-exists">Change</span>
                                                            <input type="file">
                                                        </span>
                                                        <a href="#" class="btn btn-alt btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </fieldset>
                                </form>
                                <!-- /Bootstrap file upload plugin -->
                                
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                
                    <!-- Data block -->
                    <article class="span12 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Form elements sizing</h2>
                            </header>
                            <section>
                            
                                <form class="form-inline">
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="form-controls demo">
                                                <input class="input-mini" type="text" placeholder=".input-mini">
                                                <input class="input-small" type="text" placeholder=".input-small">
                                                <input class="input-medium" type="text" placeholder=".input-medium">
                                                <input class="span1" type="text" placeholder=".span1">
                                                <input class="span2" type="text" placeholder=".span2">
                                                <input class="span3" type="text" placeholder=".span3">
                                                <input class="span4" type="text" placeholder=".span4">
                                                <input class="span5" type="text" placeholder=".span5">
                                                <input class="span6" type="text" placeholder=".span6">
                                                <input class="span7" type="text" placeholder=".span7">
                                                <input class="span8" type="text" placeholder=".span8">
                                                <input class="span9" type="text" placeholder=".span9">
                                                <input class="span10" type="text" placeholder=".span10">
                                                <select class="span1">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span2">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span3">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span4">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span5">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span6">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span7">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span8">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span9">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                                <select class="span10">
                                                    <option>Google</option>
                                                    <option>PayPal</option>
                                                    <option>Microsoft</option>
                                                    <option>Apple</option>
                                                    <option>Yahoo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->

            </div>
            <!-- /Right (content) side -->

        </div>
        <!-- Main page container -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
         
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
