<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Avalon博客</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
       <header id="header">
            <div class="logo">
                <span>{</span>
                <a href="#">Avalon</a>
                <span>}</span>
                <span>博客</span>
                <p>“我们追寻梦想！”——<a href="">Fight Team</a></p>  
            </div>
           <nav>
               <li><a href="">首页</a></li>
               <li><a href="">Web前端</a></li>
               <li><a href="">Web后端</a></li>
               <li><a href="">Github相关</a></li>
               <li><a href="">设计模板</a></li>
               <li><a href="">资源工具</a></li>
           </nav>
       </header>
     
        <div id="wrapper" class="container-fluid">
            
            <div class="row-fluid">
                <div class="span8">
                    <div class="content">
                         <!-- 博客文章简单预览 -->
                        <article class="article">
                            <!-- 头部信息，包括作者信息发布时间，文章类型等 -->
                            <header>
                                
                                
                                
                               
                                <h3><a href="">yeoman教程</a></h3>
                                <div class="type-tag">
                                    <a href="">yeoman</a>
                                </div>
                                <div class="author">
                                    <img src="images/excalibur.jpeg" alt="">
                                    <a href="">刘真源</a>
                                    <time class="" datetime="">2013年7月5日 13:30</time>
                                </div>
                            </header>
                            <!-- 文章的内容 -->
                            <section>
                                说的话发神经的防腐剂
                            </section>
                            <div class="toolbar">
                                <div class="pull-right">
                                    <div class="comments">
                                        <a href=""><i class="genericon genericon-comment"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- 博客文章简单预览 -->
                        <article class="article">
                            <!-- 头部信息，包括作者信息发布时间，文章类型等 -->
                            <header>
                                
                                
                                <div class="author">

                                    <a href="">刘真源</a>
                                    <time class="" datetime="">2013年7月5日 13:30</time>
                                </div>
                               
                                <h3><a href="">yeoman教程</a></h3>
                                <div class="type-tag">
                                    yeoman
                                </div>
                            </header>
                            <!-- 文章的内容 -->
                            <section>
                                说的话发神经的防腐剂
                            </section>
                        </article>
                        <!-- 博客文章简单预览 -->
                        <article class="article">
                            <!-- 头部信息，包括作者信息发布时间，文章类型等 -->
                            <header>
                                
                                
                                <div class="author">

                                    <a href="">刘真源</a>
                                    <time class="" datetime="">2013年7月5日 13:30</time>
                                </div>
                               
                                <h3><a href="">yeoman教程</a></h3>
                                <div class="type-tag">
                                    yeoman
                                </div>
                            </header>
                            <!-- 文章的内容 -->
                            <section>
                                说的话发神经的防腐剂
                            </section>
                        </article>
                        <!-- 博客文章简单预览 -->
                        <article class="article">
                            <!-- 头部信息，包括作者信息发布时间，文章类型等 -->
                            <header>
                                
                                
                                <div class="author">

                                    <a href="">刘真源</a>
                                    <time class="" datetime="">2013年7月5日 13:30</time>
                                </div>
                               
                                <h3><a href="">yeoman教程</a></h3>
                                <div class="type-tag">
                                    yeoman
                                </div>
                            </header>
                            <!-- 文章的内容 -->
                            <section>
                                说的话发神经的防腐剂
                            </section>
                        </article>
                    </div>
                   
                    
                </div>
                <div class="span4">
                     <aside>
                      <h3>搜索</h3>
                        <form id="searchForm" class="">
                          <div class="input-append">
                            <input type="text" class="span8 ">
                            <button type="submit" class="btn">Search</button>
                          </div>
                         
                        </form>
                    <h3>目录</h3>
                    <ul>
                        <li><a href="">item 1</a></li>
                        <li><a href="">item 2</a></li>
                        <li><a href="">item 3</a></li>
                        <li><a href="">item 4</a></li>
                        <li><a href="">item 5</a></li>
                    </ul>
                    </aside>
                </div>
            </div>
        </div>
        

       <footer id="footer">
            <section>
                <div class="row-fluid">
                     <div class="span4">
                       <h4>关于我们</h4>
                       <p>我们是一些大学的学生，我们对软件开发感兴趣。我们有前端开发geek！也有后端开发的技术深入。我们整理我们喜欢的资料，学习喜欢的新技术。如果你感兴趣可以加入我们学习团队。</p>
                        <h4>我们的微博</h4>
                        <ul class="weibo">
                            <li>avalon社区 - <a href="#" target="_blank">立刻关注社区</a>
                                <a href="#" class="weibo-logo" title="关注社区" target="_blank">关注社区</a>
                            </li>
                            <li>excalibur博客 - <a href="#" target="_blank">立刻关注博客</a>
                                <a href="#" class="weibo-logo" title="关注博客" target="_blank">关注博客</a>
                            </li>
                             <li>faith博客 - <a href="#" target="_blank">立刻关注博客</a>
                                <a href="#" class="weibo-logo" title="关注博客" target="_blank">关注博客</a>
                            </li>
                        </ul>
                   </div>
                   <div class="span4">
                       <h4>现在支持的浏览器</h4>
                       <p>Excalibur 支持的浏览器:Chrome,Safari,Internet Explorer与Firefox等.</p>
                        <i class="icon">d</i>
                        <i class="icon">e</i>
                        <i class="icon">f</i>
                        <i class="icon">g</i>
                       <ul>
                        <li>最新版 Safari</li>
                        <li>最新版 Google Chrome</li>
                        <li>Firefox 4+</li>
                        <li>Internet Explorer 7+</li>
                        <li>Opera 11</li>
                    </ul>
                   </div>
                   <div class="span4">
                       <h4>学习网站</h4>
                       
                        <ul>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                        </ul>

                       
                   </div>
                </div>
                <div class="footer-bottom">
                    <p>
                        <a href="help" title="帮助">帮助</a>&nbsp;&nbsp;&nbsp;
                        <a href="contact" title="联系我们">联系我们</a>
                       
                        <span class="pull-right">
                            <a href="#">Copyright &copy; 2013 Fight Team版权所有</a>
                        </span>
                    </p>
                </div>
            </section>
 
       </footer>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
         
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
