<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Avalon博客</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!-- Main page container -->
        <div class="container">
        
            <!-- /Left (navigation) side -->
            
            <!-- Right (content) side -->
            <div class="content-block" role="main">

                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="#"><span class="awe-home"></span></a><span class="divider"></span></li>
                    <li><a href="#">Organon template</a><span class="divider"></span></li>
                    <li class="active">Typography</li>
                </ul>
                <!-- /Breadcrumb -->

                <!-- Page header -->
                <article class="page-header">
                    <h1>Typography</h1>
                    <p>Great attention has been paid to the typography elements. This preview page will show you basic elements and popular user interface components available. Many styles are combinable, so don't be affraid to experiment. Modifying is super easy, you can edit final CSS or, if you are familiar with LESS, typographic components are controled with few LESS variables.</p>
                </article>
                <!-- /Page header -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                    
                    <!-- Example body text -->
                    <!-- Data block -->
                    <article class="span6 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Example block text</h2>
                            </header>
                            <section>
                                <p>Nullam quis risus <strong>eget urna mollis</strong> ornare vel eu leo. <em>Cum sociisnatoque penatibus</em>  et magnis dis parturient montes, <code>code</code> nascetur ridiculus mus. Nullam <a href="#">vehicula</a> id dolor id nibh ultricies ut id elit. Sed euismod aliquet sapien consequat tincidunt.</p>
                                <p>Vivamus sagittis lacus vel augue laoreet <abbr title="Sample abbreviation">rutrum faucibus dolor auctor</abbr>. Duis mollis, est <strike>non commodo luctus</strike>, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Sed euismod aliquet sapien consequat tincidunt.</p>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Headings -->
                    <!-- Data block -->
                    <article class="span6 data-block nested">
                        <div class="data-container">
                            <header>
                                <h2>Headings</h2>
                            </header>
                            <section>
                                <h1>h1. Heading 1</h1>
                                <h2>h2. Heading 2</h2>
                                <h3>h3. Heading 3</h3>
                                <h4>h4. Heading 4</h4>
                                <h5>h5. Heading 5</h5>
                                <h6>h6. Heading 6</h6>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                
                    <!-- Unstyled list -->
                    <!-- Data block -->
                    <article class="span4 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Unstyled list</h2>
                            </header>
                            <section>
                                <ul class="unstyled">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Integer molestie lorem at massa</li>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                    <li>Nulla volutpat aliquam velit
                                        <ul>
                                            <li>Phasellus iaculis neque</li>
                                            <li>Purus sodales ultricies</li>
                                            <li>Vestibulum laoreet porttitor sem</li>
                                            <li>Ac tristique libero volutpat at</li>
                                        </ul>
                                    </li>
                                    <li>Faucibus porta lacus fringilla vel</li>
                                    <li>Aenean sit amet erat nunc</li>
                                    <li>Eget porttitor lorem</li>
                                </ul>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Unordered list -->
                    <!-- Data block -->
                    <article class="span4 data-block nested">
                        <div class="data-container">
                            <header>
                                <h2>Unordered list</h2>
                            </header>
                            <section>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Integer molestie lorem at massa</li>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                    <li>Nulla volutpat aliquam velit
                                        <ul>
                                            <li>Phasellus iaculis neque</li>
                                            <li>Purus sodales ultricies</li>
                                            <li>Vestibulum laoreet porttitor sem</li>
                                            <li>Ac tristique libero volutpat at</li>
                                        </ul>
                                    </li>
                                    <li>Faucibus porta lacus fringilla vel</li>
                                    <li>Aenean sit amet erat nunc</li>
                                    <li>Eget porttitor lorem</li>
                                </ul>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Ordered list -->
                    <!-- Data block -->
                    <article class="span4 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Ordered list</h2>
                            </header>
                            <section>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Integer molestie lorem at massa</li>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                    <li>Nulla volutpat aliquam velit
                                        <ul>
                                            <li>Phasellus iaculis neque</li>
                                            <li>Purus sodales ultricies</li>
                                            <li>Vestibulum laoreet porttitor sem</li>
                                            <li>Ac tristique libero volutpat at</li>
                                        </ul>
                                    </li>
                                    <li>Faucibus porta lacus fringilla vel</li>
                                    <li>Aenean sit amet erat nunc</li>
                                    <li>Eget porttitor lorem</li>
                                </ol>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                    
                    <!-- Checkmark list -->
                    <!-- Data block -->
                    <article class="span4 data-block nested">
                        <div class="data-container">
                            <header>
                                <h2>Checkmark list</h2>
                            </header>
                            <section>
                                <ul class="unstyled">
                                    <li><span class="icon-ok"></span> Lorem ipsum dolor sit amet</li>
                                    <li><span class="icon-ok"></span> Consectetur adipiscing elit</li>
                                    <li><span class="icon-ok"></span> Integer molestie lorem at massa</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="awe-ok"></span> Facilisis in pretium nisl aliquet</li>
                                    <li><span class="awe-ok"></span> Nulla volutpat aliquam velit</li>
                                    <li><span class="awe-ok"></span> Phasellus iaculis neque</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="fam-tick"></span> Purus sodales ultricies</li>
                                    <li><span class="fam-tick"></span> Vestibulum laoreet porttitor sem</li>
                                    <li><span class="fam-tick"></span> Ac tristique libero volutpat at</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="fam-cross"></span> Faucibus porta lacus fringilla vel</li>
                                    <li><span class="fam-cross"></span> Aenean sit amet erat nunc</li>
                                    <li><span class="fam-cross"></span> Eget porttitor lorem</li>
                                </ul>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Crossmark list -->
                    <!-- Data block -->
                    <article class="span4 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Crossmark list</h2>
                            </header>
                            <section>
                                <ul class="unstyled">
                                    <li><span class="icon-remove-sign"></span> Lorem ipsum dolor sit amet</li>
                                    <li><span class="icon-remove-sign"></span> Consectetur adipiscing elit</li>
                                    <li><span class="icon-remove-sign"></span> Integer molestie lorem at massa</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="fam-add"></span> Facilisis in pretium nisl aliquet</li>
                                    <li><span class="fam-add"></span> Nulla volutpat aliquam velit</li>
                                    <li><span class="fam-add"></span> Phasellus iaculis neque</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="fam-delete"></span> Purus sodales ultricies</li>
                                    <li><span class="fam-delete"></span> Vestibulum laoreet porttitor sem</li>
                                    <li><span class="fam-delete"></span> Ac tristique libero volutpat at</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="fam-information"></span> Faucibus porta lacus fringilla vel</li>
                                    <li><span class="fam-information"></span> Aenean sit amet erat nunc</li>
                                    <li><span class="fam-information"></span> Eget porttitor lorem</li>
                                </ul>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Pointmark list -->
                    <!-- Data block -->
                    <article class="span4 data-block nested">
                        <div class="data-container">
                            <header>
                                <h2>Pointmark list</h2>
                            </header>
                            <section>
                                <ul class="unstyled">
                                    <li><span class="awe-arrow-right"></span> Lorem ipsum dolor sit amet</li>
                                    <li><span class="awe-arrow-right"></span> Consectetur adipiscing elit</li>
                                    <li><span class="awe-arrow-right"></span> Integer molestie lorem at massa</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="fam-bullet-go"></span> Facilisis in pretium nisl aliquet</li>
                                    <li><span class="fam-bullet-go"></span> Nulla volutpat aliquam velit</li>
                                    <li><span class="fam-bullet-go"></span> Phasellus iaculis neque</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="icon-arrow-right"></span> Purus sodales ultricies</li>
                                    <li><span class="icon-arrow-right"></span> Vestibulum laoreet porttitor sem</li>
                                    <li><span class="icon-arrow-right"></span> Ac tristique libero volutpat at</li>
                                </ul>
                                <ul class="unstyled">
                                    <li><span class="awe-caret-right"></span> Faucibus porta lacus fringilla vel</li>
                                    <li><span class="awe-caret-right"></span> Aenean sit amet erat nunc</li>
                                    <li><span class="awe-caret-right"></span> Eget porttitor lorem</li>
                                </ul>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->
                
                <!-- Hero unit -->
                <div class="hero-unit">
                    <h1>Showcase heading</h1>
                    <p>When you really need to draw the attention. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis metus sit amet lorem viverra suscipit. Integer lobortis, sem vitae bibendum vulputate, neque orci vestibulum quam, vel volutpat nibh felis ac ante.</p>
                    <a class="btn btn-alt btn-danger btn-large">Learn more</a>
                    <a class="btn btn-alt btn-primary btn-large">Learn more</a>
                    <a class="btn btn-alt btn-large">Learn more</a>
                    <a class="btn btn-alt btn-info btn-large">Learn more</a>
                    <a class="btn btn-alt btn-success btn-large">Learn more</a>
                    <a class="btn btn-alt btn-warning btn-large">Learn more</a>
                    <a class="btn btn-alt btn-inverse btn-large">Learn more</a>
                    <br>
                    <a class="btn btn-danger btn-large">Learn more</a>
                    <a class="btn btn-primary btn-large">Learn more</a>
                    <a class="btn btn-large">Learn more</a>
                    <a class="btn btn-info btn-large">Learn more</a>
                    <a class="btn btn-success btn-large">Learn more</a>
                    <a class="btn btn-warning btn-large">Learn more</a>
                    <a class="btn btn-inverse btn-large">Learn more</a>
                </div>
                <!-- /Hero unit -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                
                    <!-- Default description list -->
                    <!-- Data block -->
                    <article class="span6 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Default description list</h2>
                            </header>
                            <section>
                                <dl>
                                    <dt>Gravida</dt>
                                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                                    <dt>Etiam</dt>
                                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                    <dt>Malesuada</dt>
                                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                </dl>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Horizontal description list -->
                    <!-- Data block -->
                    <article class="span6 data-block nested">
                        <div class="data-container">
                            <header>
                                <h2>Horizontal description list</h2>
                            </header>
                            <section>
                                <dl class="dl-horizontal">
                                    <dt>Gravida</dt>
                                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                                    <dt>Etiam</dt>
                                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                    <dt>Malesuada</dt>
                                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                    <dd>Suspendisse placerat ornare mauris quis semper.</dd>
                                </dl>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                    
                    <!-- Left blockquotes -->
                    <!-- Data block -->
                    <article class="span6 data-block nested">
                        <div class="data-container">
                            <header>
                                <h2>Blockquotes aligned to left</h2>
                            </header>
                            <section>
                                <blockquote>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                                    <small><strong><span class="icon-user"></span> Author name</strong> in <cite title="">Book name</cite></small>
                                </blockquote>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Right blockquotes -->
                    <!-- Data block -->
                    <article class="span6 data-block">
                        <div class="data-container">
                            <header>
                                <h2>Blockquotes aligned to right</h2>
                            </header>
                            <section>
                                <blockquote class="pull-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                                    <small><strong><span class="icon-user"></span> Author name</strong> in <cite title="">Book name</cite></small>
                                </blockquote>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->
                
                <!-- Grid row -->
                <div class="row-fluid">
                
                    <!-- Wells -->
                    <!-- Data block -->
                    <article class="span4 data-block">
                        <div class="data-container">
                            <header>
                                <h2><span class="awe-tint"></span> Wells</h2>
                            </header>
                            <section>
                                <div class="well">
                                    <strong>Standard well</strong>
                                    <p>Etiam porta sem malesuada magna mollis euismod.</p>
                                </div>
                                <div class="well well-large">
                                    <strong>Large well</strong>
                                    <p>Etiam porta sem malesuada magna mollis euismod.</p>
                                </div>
                                <div class="well well-small">
                                    <strong>Small well</strong>
                                    <p>Etiam porta sem malesuada magna mollis euismod.</p>
                                </div>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Tags -->
                    <!-- Data block -->
                    <article class="span4 data-block">
                        <div class="data-container">
                            <header>
                                <h2><span class="awe-tags"></span> Tags</h2>
                            </header>
                            <section>
                                <p>Default tags are static and comes in 6 color variants.</p>
                                <ul class="unstyled">
                                    <li><span class="label">Default</span> Lorem ipsum dolor</li>
                                    <li><span class="label label-success">Success</span> Etiam quis metus</li>
                                    <li><span class="label label-warning">Warning</span> Aliquam erat volutpat</li>
                                    <li><span class="label label-important">Important</span> Fusce felis tortor</li>
                                    <li><span class="label label-info">Info</span> Vivamus eu diam eget mauris</li>
                                    <li><span class="label label-inverse">Inverse</span> Proin nec diam in ante</li>
                                </ul>
                                <p>You can assign <code>label</code> class to any element.</p>
                                <ul class="unstyled">
                                    <li><a href="#" class="label">Default</a> Lorem ipsum dolor</li>
                                    <li><a href="#" class="label label-success">Success</a> Etiam quis metus</li>
                                    <li><a href="#" class="label label-warning">Warning</a> Aliquam erat volutpat</li>
                                    <li><a href="#" class="label label-important">Important</a> Fusce felis tortor</li>
                                    <li><a href="#" class="label label-info">Info</a> Vivamus eu diam eget mauris</li>
                                    <li><a href="#" class="label label-inverse">Inverse</a> Proin nec diam in ante</li>
                                </ul>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                    <!-- Code -->
                    <!-- Data block -->
                    <article class="span4 data-block">
                        <div class="data-container">
                            <header>
                                <h2><span class="awe-wrench"></span> Code</h2>
                            </header>
                            <section>
                                <p>Inline and block code snippets for easy to read code previews.</p>
                                <p><code>&lt;p&gt;Sample code here...&lt;/p&gt;</code></p>
                                <pre>&lt;p&gt;Sample code here...&lt;/p&gt;</pre>
                                <p>You may optionally add the <code>scrollable</code> class which will set a max-height of 350px and provide a y-axis scrollbar.</p>
                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->
                    
                </div>
                <!-- /Grid row -->
              
            </div>
            <!-- /Right (content) side -->

        </div>
        <!-- Main page container -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
         
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
