extends ../layouts/online

block content
	div.container-fluid
		div.row
			div.col-lg-12
				div#blackboard.panel.panel-default
					div.panel-heading
						div.container-fluid
							ul.nav.navbar-nav#painter
								li
									button(type="button", id="brush").btn.btn-default
										i.typcn.typcn-brush
								li
									button(type="button", id="pencil").btn.btn-default 
										i.glyphicon.glyphicon-pencil
								li
									button(type="button", id="arrows").btn.btn-default
										i.fa.fa-arrows
								li
									button(type="button", id="eraser").btn.btn-default
										i.fa.fa-eraser
								li
									button(type="button", id="tachometer").btn.btn-default
										i.fa.fa-tachometer
								li
									button(type="button", id="picture").btn.btn-default
										i.glyphicon.glyphicon-picture
							ul.nav.navbar-nav.pull-right
								li
									button(type="button", id="volume").btn.btn-default
										i.glyphicon.glyphicon-volume-up
								li
									button(type="button", id="video").btn.btn-default
										i.glyphicon.glyphicon-facetime-video
								li
									button(type="button", id="chat").btn.btn-default
										i.glyphicon.glyphicon-comment
					div.panel-body 
						canvas(width="1584", height="719")#blackboard-body

		
	