.article{
	margin:2em 0;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #000000;
	@include box-shadow(0 0 0 1px rgba(255, 255, 255, 0.1) inset); 
	@include border-radius(4px);  
	
	header,section{
	  	box-sizing: border-box;
	  	padding: 2em;
		margin: 0;
		border-bottom: 1px solid #1a1819;
		color: #b2b2b2;
		position: relative;
		
	}
	header{
		
			
			
			img{

				width: 3em;
				height: 3em;
				padding: 1px;
				background-color: #fff;
				border: 1px solid #ccc;
				border: 1px solid rgba(0, 0, 0, 0.2);
				@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));


		}
		h3:before{
			content: "///";
			color: #9ddcff;
			padding-right: 1em;
		}
		.type-tag{
			position:absolute;
			top: 1em;
			right: 0;
			background: #263248;
			color: $orange;
			text-align: center;
			padding:0.5em;
		}
	}
	section,.toolbar{
		padding: 2em;
		border-color: rgba(255, 255, 255, 0.12);
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		margin: 0;
	}
	  
}

