@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000315}}
body {
  background: #222222;
  color: #e0e0e0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000322}}
#header {
  color: #7e8aa2;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000325}}
#header .logo {
  margin: 50px 0 50px 50px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000329}}
#header nav {
  list-style: none;
  width: 96%;
  margin: 0 auto;
  border: 1px solid #4d4d4d;
  min-height: 40px;
  padding: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000337}}
#header nav li {
  display: inline-block;
  width: 16%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000350}}
#wrapper .content {
  min-height: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000353}}
#wrapper aside {
  color: #263248;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000356}}
#wrapper aside ul {
  list-style: none;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000359}}
#wrapper aside ul li {
  width: 60%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000363}}
#wrapper aside a {
  border-bottom: 1px solid #161616;
  border-left: 3px solid #555555;
  border-top: 1px solid #2D2D2D;
  color: #888888;
  display: block;
  line-height: 1.8em;
  padding: 5px 10px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000372}}
#wrapper aside a:hover {
  background: none repeat scroll 0 0 #161616;
  border-left: 3px solid #2b99e6;
  color: #FFFFFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000383}}
#footer {
  background: #111111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/idea12\/avalon\/view\/yo\/app\/styles\/main\.scss}line{font-family:\0000385}}
#footer section {
  width: 96%;
  margin: 0 auto;
}
