
.navbar{
	margin-bottom: 0;
}
.intro-header{
	background: #b94a48 url(/images/bg.jpg) 0% 0% fixed;
	min-height: 650px;
	width: 100%;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	background-size: cover;
	position: relative;
}