doctype html
html(lang='#{ lang }')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    include common/head
  body(data-spy="scroll", data-target=".navbar-fixed-top")
    block content
    include common/helper/javascripts
      
