.section-a{
	margin-top: 50px;
	background: #b94a48 url(/images/register.jpg) 0% 0% fixed;
	min-height: 800px;
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	background-size: cover;
	position: relative;
	text-align: center;
	color: #f8f8f8;
}

.registraction-form-section{
	margin-top: 200px;
}