.login-panel {
    margin-top: 25%;
}
body{
    background: url(../images/back.png);
    background-color: #444;
    background: url(../images/pinlayer2.png),url(../images/pinlayer1.png),url(../images/back.png);
}

.vertical-offset-100{
    padding-top:100px;
}