//
// Data Black
// --------------------------------------------------

.data-block{
  position: relative;
  .data-container{
    *zoom: 1;
    @include box-sizing(border-box); 
    &:before,&:after{
        display: table;
        content: "";
        line-height: 0;
    }
    &:after{
      clear: both;
    }
  }
  header{
    margin: 0;
    border-bottom: 1px solid #1a1819;
    *zoom: 1;
    &:before,&:after{
      display: table;
      content: "";
      line-height: 0;
    }
    &:after{
      clear: both;
    }
    h2{
      margin: 0;
      padding: 10px 0;
      color: #e5e5e5;
      font-size: 17.5px;
      float: left;
      text-shadow: 0 -1px 0 #000000;
    }

    .data-header-actions{
      float: right;
      margin: 0;
      padding: 0;
      list-style: none;
      *zoom: 1;
      margin-top: 3px;
      &:before,&:after{
      display: table;
      content: "";
      line-height: 0;
      }
      &:after{
        clear: both;
      }
      &.single-action li > .form-search .btn{
         margin-right: 0;
      }
      .form-search{
        margin: 0 0 0 10px;
        .control-group{
           margin: 0;
           padding: 0;
           border: none;
        }
      }
      > li{
        float: left;
        display: block;
        > a{
          color: #b2b2b2;
          padding: 8px 10px;
          font-size: 11.9px;
          text-transform: uppercase;
          &:hover{
            color: #ffffff;
            text-decoration: none;
          }
          &:focus{
            outline: none;
          }
        }
        .loading{
           display: block;
          margin: 10px;
        }
        .btn{
          margin: 7px 10px;
          padding: 4px 14px;
          &.btn-alt{
             padding: 5px 15px;
          }
        }
        [class^="awe-"],[class*=" awe-"]{
           font-size: 17.5px;
        }
      }
      &.tabs > li > a,> li.tabs > a{
         display: block;
          padding: 12px 10px;
      }
      &.tabs > li.active > a,> li.tabs.active > a{
        color: #ffffff;
      }
    }
    .dropdown-menu{
    left: auto;
    right: 0;
    top: 40px;
    }
    & + section{
      border-top: 1px solid rgba(255, 255, 255, 0.12);
    }
    
  }
  section{
      margin: 0;
      padding: 15px 0;
      *zoom: 1;
       &:before,&:after{
         display: table;
        content: "";
        line-height: 0;
       }
       &:after{
        clear: both;
       }
    }
    /* Data block todo list */
  &.todo-block{
    section {
      padding-top: 0;
      padding-bottom: 0;
    }
    form {
      margin: 0;
      background-color: transparent;
      border: none;
      @include box-shadow(none);
    }
    table {
      margin: 0;
      border: none;
      border-collapse: separate;
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      background-color: transparent;
      &.table tr {
        background-color: transparent;
        &:first-child td {
          border-top: none;
        }
        td {
          border-bottom: 1px solid #1a1819;
          border-top: 1px solid rgba(255, 255, 255, 0.12);
        }
        &.done {
          p,span,input{
            text-decoration: line-through;
            opacity: 0.4;
            filter: alpha(opacity=40);
          }
          span {
            display: none;
          }
          &:hover{
            p,span,input{
              opacity: 1;
              filter: alpha(opacity=100);
            }
          }
        }
        p {
          margin: 0;
          line-height: normal;
          color: #e5e5e5;
          & + span {
            font-size: 11.9px;
            color: #b2b2b2;
          }
        }
        input {
          margin-top: 0;
        }
      }
    }
  }
  /* Nested data block */
  &.nested{
     background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #1a1819;
    @include box-shadow(0 0 0 1px rgba(255, 255, 255, 0.1) inset);
    @include border-radius(4px);
    header{
      padding: 0 15px;
      & + section{
        border-color: rgba(255, 255, 255, 0.12);
      }
      .data-header-actions{
         border-left: 1px solid rgba(255, 255, 255, 0.12);
        margin-top: 0;
        margin-right: -15px;
        &.single-action{
          border: none;
          > li{
          border: none;
          @include box-shadow(none)
          }
        }
        .form-search{
          margin: 0 10px;
          .control-group{
             margin: 0;
            padding: 0;
            border: none;
          }
        }
        > li{
           border-left: 1px solid #1a1819;
          border-right: 1px solid rgba(255, 255, 255, 0.1);
          
          @include box-shadow(1px 0 0 0 rgba(255, 255, 255, 0.1) inset);
          & + li{
            border-left: 1px solid #1a1819;
          }
          :last-child{
             border-right: 1px solid transparent;
          }
        }
        &.tabs > li.active,> li.tabs.active{
          background: rgba(0, 0, 0, 0.05);
          border-right: 1px solid transparent;
          
          @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.4));
        }
        .tabs > li.active > a,> li.tabs.active > a{
          color: #ffffff;
        }
      }

    }
    section {
      padding: 15px;
    }
    /* Nested data todo */
    &.todo-block{
      table {
        border: none;
        &.table tr{
          &:first-child td{
            border-top: none;
          }
          &:last-child td {
            border-bottom: none;
          }
        }
      }
    }
  }
  
}
/* Fallback for old browsers */
.no-rgba .data-block{
  header{
    .data-header-actions{
      >li{
        border-right: 1px solid transparent;
      }
    }
    & + section {
      border-top: 1px solid #4a4849;
    }
  }
  &.nested{
    background-color: #262425;
    header{
      .data-header-actions {
        border-left: 1px solid transparent;
      }
      & + section {
        border-top: 1px solid #444344;
      }
    }
  }
  &.todo-block{
    table {
      border-bottom: 1px solid #4a4849;
      &.table tr td {
        border-top: 1px solid #4a4849;
      }
    }
  }
}
