//
// Grid system
// --------------------------------------------------


// Fixed (940px)
@include grid-core($gridColumnWidth, $gridGutterWidth);

// Fluid (940px)
@include grid-fluid($fluidGridColumnWidth, $fluidGridGutterWidth);

// Reset utility classes due to specificity
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}

.row,
.row-fluid {
  margin-bottom: 2.127659574468085%;
}
.row:last-child,
.row-fluid:last-child {
  margin-bottom: 0;
}
