//
// Pager pagination
// --------------------------------------------------


.pager {
  margin: $baseLineHeight 0;
  list-style: none;
  text-align: center;
  @include clearfix();
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color:  rgba(0, 0, 0, 0.2);
  border: 1px solid #1a1819;
  @include border-radius(15px);
  @include box-shadow(0 0 0 1px rgba(255, 255, 255, 0.1) inset);
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #3a3839;
  color: #ffffff;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: $grayLight;
  background-color: #3a3839;
  cursor: default;
}
