footer
	div.container
		div.row
			div.col-lg-12
				ul.list-inline
					li
						a(href="/") Avalon开放图书馆
					li -
					li
						a(href="/library") 图书馆
					li -
					li
						a(href="/online") 书堂
					li -
					li
						a(href="/about") 关于我们
					li -
					li
						a(href="/help") 帮助
				p.copyright.text-center Copyright &copy; fight team 2013-2014. All Rights Reserved
