div(role="navigation",data-spy="affix",data-offset-top="60",data-offset-bottom="200").navbar.navbar-default.navbar-fixed-top.navbar-ease
		div.container
			div.navbar-header
				button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
					span.sr-only 切换显示
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href="/").navbar-brand Avalon开放图书馆
			div.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href="register") 注册
					li
						a(href="login") 登陆